<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to eventboard</a>
  <h2 class="title">create new event</h2><hr>

  <form class="new-event-form">
    <div>
      <label for="event-name">title:</label>
      <input class="input" type="text" id="event-name" name="event-name" placeholder="insert Event Name here"/>
    </div>
    <div>
      <label for="event-description">description:</label>
      <input class="textarea is-large" id="event-description" name="event-description" placeholder="insert event description here"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">create event</button>
  </form>
</section>

<script src="..//public/js/add-event.js"></script>