<<<<<<< HEAD
<div class="card">
    <h3 class="card-header">Create New Event</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="event-title" class="form-label">Event</label>
        <input type="text" id="event-title" name="event-title" class="form-input" />


        <label class="form-label" for="content">Content</label>
        <input id="content" name="content" class="form-input" />

        <button type="submit" class="btn">Create</button>
    </form>
</div>
=======
<section>
    <a href="/eventboard" class="is-pulled-right"> &larr; back to eventboard</a>
  <h2 class="title">create new event</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="insert blog title here"/>
    </div>
    <div>
      <label for="post-content">content:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="insert blog content here"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">create event</button>
  </form>
</section>
>>>>>>> b4cb24c5924204811328e080045a86cf11d8e1ec

<script src="/javascript/add-event.js"></script>