<section>
    <h2>Create New Event</h2>

    <form class="new-event-form">
        <div>
            <label for="event-name">Title</label>
            <input type="text" id="event-name" name="event-name" />
        </div>
        <div>
            <label for="post-url">Link</label>
            <input type="text" id="description" name="description" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

{{#if event.length}}
<section>
    <h2>Your Events</h2>
    <ol>
        {{#each event as |event|}}
        <li>
            {{> event-info event}}
            <a href="/dashboard/edit/{{event.id}}" class="edit-link">Edit event</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="../public/js/add-event.js"></script>