{{> event-info event}}

{{#if loggedIn}}
<form id="comment-form" class="comment-form card">
    <div class="card-text">
        <input name="comment_text"></input>
    </div>

    <div>
        <button type="submit" class="btn">add comment</button>
    </div>
</form>
{{/if}}

{{> comments event.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}